/***********************************************/
/* HTML tag styles                             */
/***********************************************/
* {
 font-family:"Segoe UI Light","Segoe UI",Tahoma,Arial,sans-serif;
}

body{
	color: #000000;
	line-height: 1.166;	
	margin: 0px;
	padding: 0px;
	background: #CCCCCC;
	position:relative;
}

/******* hyperlink and anchor tag styles *******/

a:link, a:visited{
	color: #666666;
	text-decoration: none;
}

a:hover{
	color: #333333;
	text-decoration: underline;
}

/************** header tag styles **************/
h2 {
 color: #FFFFFF;
 margin: 0px;
 padding: 0px;
 text-align: left;
}
h2 img {
  padding: 4px 8px 0px 4px;
  margin-bottom: -4px;
}

h3 {
 color: #333333;
 margin: 0px;
 padding: 0px;
 align: left;
}

/*************** list tag styles ***************/

ul{
 list-style-type: square;
}

ul ul{
 list-style-type: disc;
}

ul ul ul{
 list-style-type: none;
}

/********* form and related tag styles *********/

form {
	margin: 0;
	padding: 0;
}

label{
 color: #333333;
}
				
input, select, label#labelMode {
  color:#003F56;
  border:solid 2px #953CAC;
  -webkit-border-radius:50px;
  -moz-border-radius:50px;
  border-radius:50px;
  padding:3px 6px 5px 20px;
  font-size:16px;
  font-weight:bold;
  text-align:left;
}
select {
  padding:3px 36px 5px 4px;
  border: none;
}
label#labelMode {
  padding:4px 12px 6px 12px;
  margin:1px;
} 
input:hover, label#labelMode:hover {
  border:solid 2px #A43ABF;
}

input#Save, input#restart {
  margin:10px 0px 10px 0px !important;
  padding:3px 20px 5px 20px !important;
  font-size:16px;
  font-weight:bold;
  color:#953CAC;
  border:solid 2px #953CAC;
  background-color:#FFFFFF;
  cursor:pointer;
}
input#Save:hover, input#restart:hover {
  margin:12px 2px 12px px !important;
  padding:3px 20px 5px 20px !important;
  background-color:#953CAC;
  color:#FFFFFF;
}

select#Mode {
  -webkit-appearance: none;
   background: transparent;
}
label#labelMode {
   overflow: hidden;
   background: url('./v.png') no-repeat right;
}
/***********************************************/
/* Layout Divs                                 */
/***********************************************/
#pagecell1{
	width:800px;
	margin:0 auto;
	background-color: #ffffff;
}

#tl {
	position:absolute;
	top: -1px;
	left: -1px;
	margin: 0px;
	padding: 0px;
	z-index: 100;
}
#pageNav{
	float: left;
	width: 178px;
	margin-top: 10px;
	padding: 0px;
	background-color: #F0F0F0;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	font: small Verdana,sans-serif;
  text-align:left;
}

#content{
	padding: 0px 10px 0px 0px;
	margin:0px 0px 0px 178px;
}

/************** pageName styles ****************/

#pageName{
	padding: 8px 8px 12px 8px;
	margin: 0px;
  background-color:#953CAC;
}

/*************** story styles ******************/

.story {
	padding: 10px 0px 0px 10px;
	font-size: 14px;
}

.story h3{
	font-size: 16px;
  background-color:#003F56;
  color:#FFFFFF;
	padding: 4px;
}

.story p {
	padding: 0px 0px 10px 0px;
}

.story a.capsule{
	font: bold 1em Arial,sans-serif;
	color: #005FA9;
	display:block;
	padding-bottom: 5px;
}

.story a.capsule:hover{
	text-decoration: underline;
}

td.storyLeft{
	padding-right: 12px;
}


/************** siteInfo styles ****************/

#siteInfo{
	clear: both;
	border-top: 1px solid #cccccc;
	font-size: 12px;
	color: #666666;
	padding: 10px 10px 10px 10px;
	margin-top: 0px;
}

#siteInfo img{
	padding: 4px 4px 4px 0px;
	vertical-align: middle;
}


/************ sectionLinks styles **************/

#sectionLinks{
	margin: 0px;
	padding: 0px;
}

#sectionLinks h3{
	padding: 10px 0px 2px 10px;
	border-bottom: 1px solid #CCCCCC;
}

#sectionLinks a:link, #sectionLinks a:visited {
	display: block;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	font-weight: bold;
	padding: 3px 0px 3px 10px;
	color: #000000;
}

#sectionLinks a:hover{
	border-top: 1px solid #CCCCCC;
	background-color: #999999;
	color: #FFFFFF;
	background-image: none;
	font-weight: bold;
	text-decoration: none;
}



/**************** advert styles *****************/

#advert{
	padding: 0px 10px 10px 10px;
  color:#000000;
}

#advert img{
	display: block;
}

/********************* end **********************/
